@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(240 250 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(148 163 184);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(100 116 139);
}